* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.d-block {
  display: none;
}
.row {
  width: 100%;
}
.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}

.d-flex {
  display: flex;
}
.green-linear {
  background: linear-gradient(270deg, #8ee901 0%, #4f9c2c 99.06%) !important;
}
@keyframes menu-animation {
  from {
    top: -80px;
  }
  to {
    top: -10px;
  }
}

@media only screen and (min-width: 993px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  /* For desktop: */
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 993px) {
  /* For desktop: */
  .col-bx-4 {
    width: 28%;
  }
  .col-pc-3 {
    width: 31%;
  }
  .col-pc-6 {
    width: 65%;
  }
  .col-cl-4 {
    width: 22%;
  }
  .col-ft-3 {
    width: 23%;
  }
  .col-ft-2 {
    width: 15%;
  }
}
