//font
$font-montserrat: "Ubuntu", sans-serif;

//color
$green-font: #60b021;
$green-gradient: linear-gradient(270deg, #8ee901 0%, #4f9c2c 99.06%);
$green-gradient-button: linear-gradient(180deg, #8ee902 0%, #4f9c2c 100%);
$grey-color: #ffffff;
$grey-product-border: #efefef;
$text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
$input-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
$featured-background: #f5f5f5;
$text-color-blackgrey: #75758a;
